
.list-books {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

.book-card {
    width: 300px;
    height: 150px;
    background-color: grey;
}

dialog {
    
}