
.main-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

.book-list {
    width: 800px;
    height: 550px;
    background-color: grey;
}

.book-card {
    padding: 24px;
    width: 50%;
    height: 300px;
    border-radius: 24px;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

#book-read {
    grid-area: 4 / 1 / 5 / 3;
}

#remove-book {
    grid-area: 5 / 1 / 6 / 3;
}

dialog {
    
}